<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zmediaz.apps.drivethru">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--TODO 4 Make singleTop what does it mean ?  Use android:launchMode="singleTop"
        to make sure that a new instance of MainActivity isn't spawned when you press the
        back button. Spawning a new instance of MainActivity is not memory efficient.Then,
        in the actual SettingsActivity you should override the home button to act like the
        back button:

        if (id == android.R.id.home) {
        onBackPressed();}
        and you should display home as up, to allow up navigation:

        this.getSupportActionBar().setDisplayHomeAsUpEnabled(true);-->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"

            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--up button in action bar-->
        <activity
            android:name="com.zmediaz.apps.drivethru.DetailActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".Settings"
            android:label="@string/action_settings">

        </activity>
    </application>

</manifest>